/* Nouvelles règles si la fenêtre fait entre 960px et 1599px de large */
@media screen and (min-width : 960px) and (max-width: 1599px)
{
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .pokeballs {
    margin-top: 20px;
    width: 90%;
    
  }

  
}
/* Nouvelles règles si la fenêtre fait entre 768px et 959px de large */
@media screen and (min-width : 768px) and (max-width: 959px)
{
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .pokeballs {
    margin-top: 20px;
    width: 90%;
    
  }

}
/* Nouvelles règles si la fenêtre fait au maximum 767px de large */
@media screen and  (max-width: 767px)
{
  /*
    ENTETE

  */
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .pokeballs{
    
    width: 100%;

  }

  .pokeballs img{

    width: 15%;

  }

  /*
    CORPS

  */

  div, input{

    margin-bottom: 15px;
  }

  .loop-wrapper{

    display: none;

  }

  #listCard{

    flex-direction: column;
    align-items: center;

  }

  /*
    FOOTER

  */
 
  #imgFooter img {

    width: 25px;

  }
}
	