/*
    ENTETE
*/
h1{
    text-align: center;
    margin-top: 1em;
}

header{

    text-align: end;
}

header img{

    padding-left: 30px;
    padding-top: 10px;
}
/*
    CORPS
*/
body{

    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

#saisie{
    
    text-align: center;
    margin-top: 3.5em;
}

/*
    CARD DU BODY
*/
.card{

    border : solid 1px;
    margin-left: 25px;
    margin-top: 15px;
    text-align: center;
}

.card-img-top{

    border-bottom : solid 1px;
    cursor: pointer;
    
}

#listCard{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
    FOOTER
*/

 footer{

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

#imgFooter{

    text-align: center; 

}

#imgFooter img{

    margin-left: 5px;
}