body{

    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

h1{
    text-align: center;
}

header{

    text-align: end;
}

.card{

    border : solid 1px;
    margin-left: 25px;
    margin-top: 15px;
    text-align: center;
}

.card-img-top{

    border-bottom : solid 1px;
    cursor: pointer;
    
}

#listCard{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}